
html { margin: 0; padding: 0; border-top: 2px solid #c9cacc; background: #1d1f21; }
body { box-sizing: border-box; color: #c9cacc; margin: 0 auto; padding: 1em 0; font-size: 14px; font-family: Monaco,monospace; }
header nav { margin-bottom: 3em; }
footer nav { text-align: center; margin-top: 3em; }
p, li { line-height: 1.75em; }
li p { margin: 0 }
a { color: #2bbc8a; }
a:visited { color: #F35C38; }
h2 { margin-top: 2em; color: #2bbc8a; }
h3 { margin-top: 1.5em; color: #F35C38; }
hr { border: 0; height: 1px; background: #666 }
hr:last-of-type { margin-bottom: 2em; }
small { color: #999; }
strong, b { background: rgba(255, 255, 255, 0.2); }
img { display: block; margin: 2em auto; height: auto; max-width: 100%; }
pre { line-height: 1.5em; padding: 2em; background: #c9cacc; color: #1d1f21; margin: 2em 0; overflow-x: auto; }
code { background: #c9cacc; color: #1d1f21; padding: 2px; }
blockquote { margin: 2em 0; border-left: 2px solid #F35C38; padding: 1em 0 1em 1em; background: rgba(255, 255, 255, 0.1); }
blockquote p { margin: 0 }

@media (max-width: 49.9375em) {
  body { width: 100%; padding: 1em }
  h1 { font-size: 1.5em }
  h2 { font-size: 1.2em; margin-top: 1.5em }
  h3 { font-size: 1.1em; margin-top: 1.5em }
  nav { text-align: center; }
}
@media (min-width: 50em) and (max-width: 63.9375em) { body { width: 80% } }
@media (min-width: 64em) { body { width: 50% } }
